typer~=0.26.7
rich~=15.0.0
kubernetes==36.0.2
toml~=0.10.2
requests~=2.34.2
PyYAML~=6.0.3
tomlkit~=0.15.0
cryptography~=48.0.1
urllib3~=2.7.0
pyOpenSSL~=26.2.0
Jinja2~=3.1.6
packaging~=26.2
ruamel.yaml==0.19.1
ibm_watsonx_ai~=1.5.13
typing_extensions~=4.15.0